<%= simple_form_for([@message, @message.comments.build]) do |f| %>
<<<<<<< HEAD

<div>
  <%= f.input :content, label: "Comment" %>
</div>
<div><%= f.button :submit %></div>

=======
  <div>
    <%= f.input :content, label: "Comment" %>
  </div>
  <div><%= f.button :submit %></div>
 
>>>>>>> 5b376bc... commit for the reposertry
<% end %>


